body {
  font-family: inter;
}
header > nav {
  background-color: rgb(255, 200, 62);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > img {
  margin-right: 5px;
}

nav > span {
  font-weight: 500;
  font-size: 16px;
}

div > img {
  width: 170px;
  height: 250px;
  border-radius: 7px;
  
}

p {
  font-size: 14px;
  display: flex;
  font-weight: 500;
}

a {
  color: rgb(136, 135, 135);
  margin-left: 15px;
}

p > img {
  width: 15px;
  margin-right: 3px;
}

.section {
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
  justify-content: center;
}

.content {
  margin-left: 30px;
}
.date {
  font-weight: 700;
}
h1 {
  font-size: 40px;
}
